{% extends 'base.html' %}
{% block title%}
HABAR QOSHISH:: {{block.super}}
{% endblock %}

{% block sidebar %}

{% include 'inc/_sidebar.html' %}

{% endblock %}

{% block contact %}
<h1>HABAR QOSHISH</h1>

<form action="{% url 'add_news' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    {% comment %}
    {{form.non_field.errors}}

    <div class="form-group">
        <label for="{{ form.title.id_for_label }}"> Name: </label>
        {{ form.title }}
        <div class="invalid-feedback">
            {{ form.title.errors}}
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.contact.id_for_label }}"> Text: </label>
        {{ form.contact }}
        <div class="invalid-feedback">
            {{ form.contact.errors}}
        </div>
    </div>
    <div class="form-group">
        <label for="{{ form.is_published.id_for_label }}"> Tanlov: </label>
        {{ form.is_published }}
        <div class="invalid-feedback">
            {{ form.is_published.errors}}
        </div>
    </div>

    <div class="form-group">
        <label for="{{ form.category.id_for_label }}"> category: </label>
        {{ form.category }}
        <div class="invalid-feedback">
            {{ form.category.errors}}
        </div>
    </div>
    {% endcomment %}

    {% comment %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        <div class="invalid-feedback">
            {{ field.errors}}
        </div>
    </div>

    {%endfor%}
    {% endcomment %}


    <button type="submit" class="btn btn-primary btn-block">Qoshish Habarni</button>
</form>

{% endblock %}

